{% assign cart_total = cart.total_price | money_without_currency | replace: ',', '.' %}

<tr style='padding: 0;'>
  <td colspan='4' class='cart-item__reward-images'>
    <div class='cart-rewards__container'>
      <div class='cart-reward cart-reward--1'>
        <img
          src='https://cdn.shopify.com/s/files/1/0472/6420/2901/files/gratisversand.jpg?v=1731505889'
          width='100'
          height='auto'
          alt='Reward item 1'
          class='cart-reward__image'
        >
        <h3 class='cart-reward__title'>Gratisversand</h3>
      </div>

      <div class='cart-reward cart-reward--2'>
        <img
          src='https://cdn.shopify.com/s/files/1/0472/6420/2901/files/Discount_96a411b4-37b3-48a3-b100-c6a28dbd20af.jpg?v=1708351214'
          width='100'
          height='auto'
          alt='Reward item 2'
          class='cart-reward__image'
        >
        <h3 class='cart-reward__title'>10€ Rabatt</h3>
      </div>

      <div class='cart-reward cart-reward--3'>
        <img
          src='https://cdn.shopify.com/s/files/1/0472/6420/2901/files/Mystery-Gift.jpg?v=1731506220'
          width='100'
          height='auto'
          alt='Reward item 3'
          class='cart-reward__image'
        >
        <h3 class='cart-reward__title'>Mystery Gift</h3>
      </div>
    </div>
  </td>
</tr>

<script>
  let rewardCartTotal = '{{ cart_total }}';
  rewardCartTotal = parseFloat(rewardCartTotal);
  let rewardItems = document.querySelectorAll('.cart-reward');

  {% comment %} Check if the cart total is greater than the reward threshold and remove the class  {% endcomment %}
  const rewardThresholds = {
    'cart-reward--1': 99,
    'cart-reward--2': 149,
    'cart-reward--3': 199
  };

  rewardItems.forEach((reward) => {
    const rewardClass = [...reward.classList]
      .find(className => className.startsWith('cart-reward--'));

    if (rewardClass && rewardCartTotal >= rewardThresholds[rewardClass]) {
      reward.classList.remove(rewardClass);
    }
  });
</script>

{% style %}
  .cart-rewards__container {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 12px;
  }

  .cart-item__reward-images {
    padding: 0;
  }
  .cart-reward__image {
    border-radius: 10px;
    width: 150px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
  }

  /* Reward text */
  .cart-reward {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;

    font-size: 12px;

    transition: transform 0.3s ease-in-out;
  }
  .cart-reward--1 img,
  .cart-reward--2 img,
  .cart-reward--3 img {
    filter: grayscale(100%);
  }

  .cart-reward--1::after,
  .cart-reward--2::after,
  .cart-reward--3::after {
    content: '';
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 25%;
    background-color: transparent;
    background-image: url('https://cdn.shopify.com/s/files/1/0472/6420/2901/files/web-lock-color.svg?v=1731591446');
    background-size: cover;
    background-position: center;
  }

  .cart-reward__title {
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 12px;
    font-weight: 600;
  }
  .cart-reward__title::after {
    content: '';
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;

    width: 200px;

    padding: 8px;
    padding-top: 20px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.05em;

    clip-path: polygon(0 12px, 45% 12px, 50% 0, 55% 12px, 100% 12px, 100% 100%, 0 100%);

    color: #fafaff;
    background-color: rgba(0, 0, 0, 0.75);

    border-radius: 10px;

    transition: opacity 0.3s ease-in-out;
  }
  .cart-reward:nth-child(1) .cart-reward__title::after {
    content: 'Spare Versandkosten ab 99€!';
    transform: unset;
    left: 0;
    clip-path: polygon(0 12px, 20% 12px, 25% 0, 30% 12px, 100% 12px, 100% 100%, 0 100%);
  }
  .cart-reward:nth-child(2) .cart-reward__title::after {
    content: 'Spare 10€ bei einem Bestellwert von 149€!';
  }
  .cart-reward:nth-child(3) .cart-reward__title::after {
    content: 'Ab 199€ gibts ein kostenloses Mystery Geschenk für Dich!';
    right: 0;
    left: auto;
    transform: unset;
    clip-path: polygon(0 12px, 70% 12px, 75% 0, 80% 12px, 100% 12px, 100% 100%, 0 100%);
  }

  .cart-reward:hover .cart-reward__title::after {
    opacity: 1;
  }

  .cart-reward:hover {
    transform: scale(1.05);
  }
  /* 
  @media screen and (max-width: 768px) {
    .cart-reward:nth-child(1) .cart-reward__title::after {
      left: 100%;
      clip-path: polygon(0 12px, 20% 12px, 25% 0, 30% 12px, 100% 12px, 100% 100%, 0 100%);
    }
    .cart-reward:nth-child(3) .cart-reward__title::after {
      left: 0;
      clip-path: polygon(0 12px, 70% 12px, 75% 0, 80% 12px, 100% 12px, 100% 100%, 0 100%);
    }
  } */
{% endstyle %}
