<h2 class='twcss-font-semibold twcss-text-[30px] twcss-text-center md:twcss-hidden'>
  <span class='twcss-text-brandblue'>Für Paare</span> und die,
  <span class='twcss-block twcss-text-[28px]'> die Dir wichtig sind </span>
</h2>
