<h2 class='twcss-font-semibold twcss-text-[30px] twcss-text-center md:twcss-hidden'>
  <div class='twcss-text-[29px]'>Dein Hausschild,</div>
  <span class='twcss-text-brandblue twcss-text-[36px] twcss-leading-[32px]'>Mehr als</span> bloß,
  <div class='twcss-text-brandblue twcss-text-[36px] twcss-leading-[32px] twcss-pb-4'>eine Adresse.</div>
</h2>
