<h2 class='twcss-font-semibold twcss-text-center md:twcss-hidden twcss-mb-6'>
  <div class='twcss-text-[29px]'>Dein Hausschild,</div>
  <div class='twcss-text-[34px] twcss-leading-[34px]'><span class='twcss-text-brandblue'>Mehr als</span> bloß,</div>
  <div class='twcss-text-[36px] twcss-leading-[36px] twcss-text-brandblue'>eine Adresse.</div>
</h2>
