<h2 class='twcss-font-semibold twcss-text-center md:twcss-hidden md:twcss-mt-12 twcss-mb-6'>
  <div class='twcss-text-[20px] twcss-leading-[20px]'>Schilder, Anhänger und</div>
  <div class='twcss-text-[44px] twcss-leading-[44px] twcss-text-brandblue'>Geschenke</div>
  <div class='twcss-text-[22px] twcss-leading-[22px]'>für die, die Hand anlegen.</div>
</h2>
