<h2 class='twcss-font-semibold twcss-text-center twcss-flex-1 twcss-hidden md:twcss-flex md:twcss-flex-col md:twcss-justify-center md:twcss-mt-12'>
  <div class='twcss-text-[36px] twcss-leading-[36px]'>Schilder, Anhänger und</div>
  <div class='twcss-text-[80px] twcss-leading-[76px] twcss-text-brandblue'>Geschenke</div>
  <div class='twcss-text-[33px] twcss-leading-[33px]'>für die, die Hand anlegen.</div>
</h2>
