<h2 class='twcss-font-semibold twcss-text-[30px] twcss-text-center twcss-flex-1 twcss-hidden md:twcss-block md:twcss-mt-12'>
  <div class='twcss-text-[46px] twcss-leading-[48px]'>Dein Hausschild,</div>
  <div class='twcss-text-[56px] twcss-leading-[48px]'><span class='twcss-text-brandblue'> mehr als </span> bloß</div>
  <div class='twcss-text-[58px] twcss-leading-[54px] twcss-text-brandblue'>eine Adresse.</div>
</h2>
