<h2 class='twcss-font-semibold twcss-text-center twcss-flex-1 twcss-hidden md:twcss-block md:twcss-mt-12'>
  <div class='twcss-text-[36px] twcss-leading-[36px]'>Schilder, Anhänger und</div>
  <div class='twcss-text-[80px] twcss-leading-[76px] twcss-text-brandred'>Geschenke</div>
  <div class='twcss-text-[40px] twcss-leading-[40px]'>für die, die für uns ins</div>
  <div class='twcss-text-[68px] twcss-leading-[68px] twcss-text-brandred'>Feuer gehen.</div>
</h2>
