<h2 class='twcss-font-semibold twcss-text-center twcss-flex-1 twcss-hidden md:twcss-block md:twcss-mt-12'>
  <div class='twcss-text-[18px] twcss-leading-[18px]'>Schilder, Anhänger und</div>
  <div class='twcss-text-[44px] twcss-leading-[44px] twcss-text-brandred'>Geschenke</div>
  <div class='twcss-text-[20px] twcss-leading-[20px]'>für die, die für uns ins</div>
  <div class='twcss-text-[36px] twcss-leading-[36px] twcss-text-brandred'>Feuer gehen.</div>
</h2>
