{% schema %}
{
  "name": "Custom Icon Grid",
  "settings": [],
  "presets": [
    {
      "name": "Custom Icon Grid"
    }
  ]
}
{% endschema %}

<div class='twcss-flex twcss-w-full twcss-gap-8 twcss-items-center twcss-justify-center twcss-py-6 twcss-px-2 twcss-my-4'>
  <article class='twcss-flex twcss-flex-col twcss-items-center twcss-gap-2 twcss-flex-1'>
    <img
      src='https://cdn.shopify.com/s/files/1/0472/6420/2901/files/web-germany-flag-icon.webp?v=1740560109'
      alt='Monogram Family'
      width='40'
      height='40'
      class='twcss-aspect-square twcss-object-contain md:twcss-h-[60px]'
    >
    <p class='twcss-text-center twcss-text-[12px] md:twcss-text-[16px]'>Unschlagbar schnelle Abwicklung.</p>
  </article>
  <article class='twcss-flex twcss-flex-col twcss-items-center twcss-gap-2 twcss-flex-1'>
    <img
      src='https://cdn.shopify.com/s/files/1/0472/6420/2901/files/web-medal-icon.webp?v=1740560102'
      alt='Medal'
      width='40'
      height='40'
      class='twcss-aspect-square twcss-object-contain md:twcss-h-[60px]'
    >
    <p class='twcss-text-center twcss-text-[12px] md:twcss-text-[16px]'>Über <b>75.000+</b> zufriedene Kunden.</p>
  </article>
  <article class='twcss-flex twcss-flex-col twcss-items-center twcss-gap-2 twcss-flex-1'>
    <img
      src='https://cdn.shopify.com/s/files/1/0472/6420/2901/files/web-stars-icon.webp?v=1740560104'
      alt='Stars'
      width='40'
      height='40'
      class='twcss-object-contain twcss-h-[40px] twcss-w-[auto] twcss-max-w-[80px] md:twcss-max-w-none md:twcss-h-[60px] md:twcss-w-[120px]'
    >
    <p class='twcss-text-center twcss-text-[12px] md:twcss-text-[16px]'>Über <b>5.000+</b> verifizierte Bewertungen.</p>
  </article>
</div>
