<section class='twcss-grid twcss-gap-8 md:twcss-grid-cols-3 twcss-text-center twcss-px-8 twcss-py-12'>
  {% for block in section.image_text %}
    <div
      style='padding: 20px;'
      class='twcss-flex twcss-flex-col twcss-items-center twcss-gap-4'
    >
      {% if block.settings.icon != blank %}
        <img
          src='{{ block.settings.icon | image_url: width: 100 }}'
          alt='{{ block.settings.title | escape }}'
          width='100'
          height='100'
          class='twcss-mx-auto twcss-mb-2 twcss-object-contain'
          loading='lazy'
        >
      {% endif %}
      <p class='twcss-text-base'>{{ block.settings.description }}</p>
    </div>
  {% endfor %}
</section>

{% schema %}
{
  "name": "Custom Image Block",
  "settings": [],
  "blocks": [
    {
      "type": "image_text",
      "name": "Image Text",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Block Image"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Block Description"
        }
      ]
    }
  ]
}
{% endschema %}
