<article class='twcss-flex twcss-flex-col twcss-gap-4 twcss-bg-[#04c] twcss-p-10 twcss-rounded-lg'>
  <h2 class='twcss-text-white'>Wir helfen Dir gerne weiter.</h2>
  <p class='twcss-text-white'>
    Hast Du Fragen zu Deiner Bestellung? Oder möchtest Du vielleicht ein Feedback hinterlassen? Fülle einfach das
    Formular aus und wir helfen Dir gerne weiter.
  </p>
  <div class='powr-form-builder' id='4dd3d542_1659935817'></div>
  <script src='https://www.powr.io/powr.js?platform=shopify'></script>
</article>
