{% schema %}
{
  "name": "Grill Hero",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "parallax_image",
      "label": "Parallax Background Image"
    },
    {
      "type": "image_picker",
      "id": "foreground_image",
      "label": "Foreground Image"
    },
    {
      "type": "richtext",
      "id": "richtext",
      "label": "Richtext Content"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center"
    }
  ],
  "presets": [{ "name": "Grill Hero" }]
}
{% endschema %}

<div class='twcss-w-full twcss-overflow-hidden twcss-min-h-[400px]'>
  {% if section.settings.foreground_image != blank %}
    <div
      class='twcss-flex twcss-justify-center twcss-items-end twcss-pt-12 md:twcss-pt-24 twcss-bg-fixed twcss-bg-center twcss-bg-cover'
      style="background-image: url('{{ section.settings.parallax_image | image_url: width: 1920 }}');"
    >
      <img
        src='{{ section.settings.foreground_image | image_url: width: 1920 }}'
        alt=''
        width='1920'
        height='600'
        class='twcss-max-w-full twcss-h-auto'
        loading='lazy'
      >
    </div>
  {% endif %}

  {% assign align = section.settings.text_alignment | default: 'center' %}
  {% assign align_class = 'twcss-text-center' %}
  {% if align == 'left' %}
    {% assign align_class = 'twcss-text-left' %}
  {% elsif align == 'right' %}
    {% assign align_class = 'twcss-text-right' %}
  {% endif %}
  <div class='twcss-w-full twcss-py-8 twcss-px-4'>
    <div class='twcss-font-bold twcss-text-4xl twcss-text-brandblack twcss-max-w-5xl twcss-mx-auto {{ align_class }}'>
      {{ section.settings.richtext }}
    </div>
  </div>
</div>
