<h2 class='twcss-font-semibold twcss-text-[30px] twcss-text-center md:twcss-hidden'>
  <span class='twcss-text-brandblue'>Für Paare</span> und die,
  <span class='twcss-block twcss-text-[28px]'> die Dir wichtig sind </span>
</h2>

<div
  style='display: block; background-image: url("https://cdn.shopify.com/s/files/1/0472/6420/2901/files/web-gift-banner.webp?v=1742808272");'
  class='twcss-bg-fixed twcss-relative twcss-w-full twcss-h-[250px] twcss-bg-cover twcss-bg-center twcss-brightness-120'
>
  {% comment %} overlay {% endcomment %}
  <div style='display: block;' class='twcss-absolute twcss-inset-0 twcss-bg-brandwhite twcss-opacity-25'></div>
</div>

{% comment %} clickable image and button {% endcomment %}
<div class='twcss-relative twcss-w-full twcss-flex twcss-justify-between twcss-max-w-[1600px]'>
  <a
    href='/collections/geschenke-fur-paare'
    class='twcss-relative twcss-w-full twcss-h-full twcss-flex twcss-justify-center twcss-flex-1 twcss-flex-col twcss-items-center'
  >
    <img
      src='https://cdn.shopify.com/s/files/1/0472/6420/2901/files/web-housenumbers-collection.webp?v=1742849043'
      width='500'
      height='500'
      class='twcss-mt-[-22%] twcss-w-4/5 md:twcss-w-[600px] twcss-object-contain md:twcss-mt-[-150px]'
    >
    <span class='btn btn-primary'>Geschenke für Paare</span>
  </a>

  <h2 class='twcss-font-semibold twcss-text-[30px] twcss-text-center twcss-flex-1 twcss-hidden md:twcss-block md:twcss-mt-12'>
    <div class='twcss-text-[44px] twcss-leading-[48px]'>Dein Hausschild,</div>
    <div class='twcss-text-[56px] twcss-leading-[44px]'><span class='twcss-text-brandblue'> mehr als </span> bloß</div>
    <div class='twcss-text-[52px] twcss-leading-[54px] twcss-text-brandblue'>eine Adresse.</div>
  </h2>
</div>

{% schema %}
{
  "name": "Parallax 2",
  "tag": "section",
  "class": "steelmonks-parallax",
  "presets": [
    {
      "name": "Parallax 2"
    }
  ]
}
{% endschema %}
