{% schema %}
{
  "name": "Horizontal Dropdowns",
  "tag": "section",
  "class": "steelmonks-horizontal-dropdowns",
  "presets": [
    {
      "name": "Horizontal Dropdowns"
    }
  ]
}
{% endschema %}

<article class='twcss-flex twcss-gap-3 twcss-justify-center twcss-max-w-[1600px] twcss-py-8 twcss-mx-auto twcss-flex-col md:twcss-flex-row twcss-px-10'>
  <details class='twcss-group twcss-border twcss-border-brandblue twcss-mb-4 twcss-rounded-lg twcss-flex-1 twcss-max-h-fit'>
    <summary class='twcss-font-semibold twcss-flex twcss-justify-between twcss-items-center twcss-w-full twcss-p-4 twcss-text-left twcss-text-brandblue twcss-cursor-pointer hover:twcss-bg-gray-100 focus:twcss-outline-none'>
      SORGENFREI UND OHNE RISIKO BESTELLEN
      <svg
        class='twcss-w-5 twcss-h-5 twcss-transition-transform group-open:twcss-rotate-180'
        fill='none'
        stroke='currentColor'
        viewBox='0 0 24 24'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
      </svg>
    </summary>
    <p class='twcss-text-lg twcss-px-4 twcss-pb-4 twcss-prose twcss-opacity-0 group-open:twcss-opacity-100 twcss-transition-opacity twcss-duration-300'>
      <strong>Wir sind uns sicher, dass unsere Schilder Dich begeistern werden.</strong>
      <br>
      <br>
      Und doch wissen wir, dass es manchmal schwierig sein kann, das perfekte Geschenk zu finden oder sich selbst etwas
      zu gönnen.
      <br>
      <br>
      Wir möchten, dass Du Dich bei jeder Bestellung bei Steelmonks wohl und sicher fühlst. Deshalb haben wir uns dazu
      entschieden, diese Garantie anzubieten.
      <br>
      <br>
      Du kannst sicher sein, dass Du ein hochwertiges Produkt erhältst, das mit Leidenschaft und Sorgfalt von unserem
      Team hergestellt wurde.
    </p>
  </details>

  <div class='twcss-flex-1'>
    <details class='twcss-group twcss-border twcss-border-brandblue twcss-mb-4 twcss-rounded-lg  twcss-max-h-fit'>
      <summary class='twcss-font-semibold twcss-flex twcss-justify-between twcss-items-center twcss-w-full twcss-p-4 twcss-text-left twcss-text-brandblue twcss-cursor-pointer hover:twcss-bg-gray-100 focus:twcss-outline-none'>
        ERST BEZAHLEN WENN DU DEIN SCHILD HAST
        <svg
          class='twcss-w-5 twcss-h-5 twcss-transition-transform group-open:twcss-rotate-180'
          fill='none'
          stroke='currentColor'
          viewBox='0 0 24 24'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
      </summary>
      <p class='twcss-text-lg twcss-px-4 twcss-pb-4 twcss-prose twcss-opacity-0 group-open:twcss-opacity-100 twcss-transition-opacity twcss-duration-300'>
        <strong>Wir sind von unserem Service überzeugt.</strong> So sehr, dass wir Dir auch die
        <strong>Zahlung durch Klarna auf Rechnung</strong>
        anbieten.
        <br>
        <br>
        Wir sind stolz darauf, dass wir diese Garantie anbieten können und sind überzeugt davon, dass Du zufrieden sein
        wirst.
      </p>
    </details>
    <p class='twcss-text-lg'>
      Bei Steelmonks steht Dein Glück an erster Stelle. Deshalb präsentieren wir unsere "<a href='/pages/garantie'>
        <strong class='twcss-text-brandblue'>100% Glücksgarantie</strong> </a
      >".
    </p>
  </div>

  <details class='twcss-group twcss-border twcss-border-brandblue twcss-mb-4 twcss-rounded-lg twcss-flex-1 twcss-max-h-fit'>
    <summary class='twcss-font-semibold twcss-flex twcss-justify-between twcss-items-center twcss-w-full twcss-p-4 twcss-text-left twcss-text-brandblue  twcss-cursor-pointer hover:twcss-bg-gray-100 focus:twcss-outline-none'>
      UND WAS MACHE ICH, WENN MEIN GESCHENK DEM BESCHENKTEN NICHT GEFÄLLT?
      <svg
        class='twcss-w-5 twcss-h-5 twcss-transition-transform group-open:twcss-rotate-180'
        fill='none'
        stroke='currentColor'
        viewBox='0 0 24 24'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
      </svg>
    </summary>
    <p class='twcss-text-lg twcss-px-4 twcss-pb-4 twcss-prose twcss-opacity-0 group-open:twcss-opacity-100 twcss-transition-opacity twcss-duration-300'>
      Wenn das von Dir verschenkte Schild dem Beschenkten nicht gefällt, erstatten wir Dir den vollen Kaufpreis des
      Schildes zurück. Denn wir möchten, dass jeder Einkauf bei Steelmonks zu 100% glücklich macht.
      <br>
      <br>
      Du kannst Dich bis zu <strong>30 Tage nach Erhalt</strong> bei uns melden, und erhältst nach Zurücklieferung des
      Produktes, den vollen Kaufpreis des Schildes zurück - <strong>ohne Fragen, ohne Risiko.</strong>
      <br>
      <br>
      <a class='twcss-text-brandblue' href='/pages/garantie'
        >Alle nützlichen Informationen zu unserer 100% Garantie findest Du hier.</a
      >
    </p>
  </details>
</article>
