/* ! custom_custom pplr modal styling */
/* ! start section */
#trustbadge-container-98e3dadd90eb493088abdc5597a70810 {
  z-index: 100000000 !important;
}
/* Close button and header container */
.pplr_crop-modal {
  background-color: rgba(0, 0, 0, 0.75) !important;
  background-image: url('https://cdn.shopify.com/s/files/1/0472/6420/2901/files/web-loading-fight.gif?v=1733816061') !important;
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: center;

  display: flex !important;
  justify-content: center;
  align-items: center;
}

.pplr_crop-modal header {
  display: none;
}

.pplr_crop-modal .pplr-text {
  position: relative !important;
}
.pplr_crop-modal .pplr-wrapper .img_thumb_dropdown {
  left: 50%;
  transform: translateX(-50%);

  border: 2px solid #04c;
  border-radius: 10px;

  width: 80%;

  box-shadow: 0 0 8px 0 #0044cc47;
}
.pplr_crop-modal .pplr-wrapper:not(:first-child) .img_thumb_dropdown,
.pplr_crop-modal .pplr-wrapper:not(nth-child(2)) .img_thumb_dropdown,
.pplr_crop-modal .pplr-wrapper:not(nth-child(3)) .img_thumb_dropdown {
  bottom: 100%;
}
.pplr_crop-modal .pplr-wrapper .img_thumb_dropdown::before {
  content: 'Wähle aus';
  font-weight: 500;
  line-height: 2;
  padding-left: 16px;
}
.pplr_crop-modal .pplr-passender-zunft-anhnger .img_thumb_dropdown {
  max-height: 150px !important;
}

.pplr_crop-modal .pplr_form > div,
.pplr_crop-modal .pplr_preview_wrapper,
.pplr_crop-modal .pplr_popup_image {
  float: unset !important;

  max-height: unset !important;
  min-height: unset !important;
  max-width: unset !important;
  min-width: unset !important;
  height: unset !important;
  width: 100% !important;

  margin: 0;

  padding: 0;
}
.pplr_crop-modal .pplr_close {
  position: absolute;
  top: 16px !important;
  right: 16px !important;

  width: 44px;
  height: 44px;

  font-size: 2.5rem !important;
  font-weight: 400 !important;

  color: #838185;

  padding: 0 !important;
  margin: 0 !important;

  border: 2px solid transparent;

  transform: rotate(0deg);
}
.pplr_crop-modal .pplr_close i {
  vertical-align: middle;
}
.pplr_crop-modal .pplr_close::before {
  content: '';
  border: 2px solid transparent;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0px;
  left: -3px;
  transform: rotate(0);
  border-radius: 0;
  transition: all 0.5s ease;
}
.pplr_crop-modal .pplr_close.c_h_m {
  display: initial !important;
}
/* Not working */
.pplr_crop-modal .pplr_close:hover::before {
  border-color: #04c;
  transform: rotate(180deg);
  border-radius: 50px;
}
.pplr_crop-modal .pplr_close .fa-close::before {
  content: '\2715' !important;
  font-size: 22px;
  font-weight: 700;
  vertical-align: middle;
}

.pplr_crop-modal {
  /* top: 50% !important; NOT NEEDED */
  left: unset !important;

  max-height: unset !important;
  min-height: unset !important;
  max-height: 100dvh !important;
  width: 100% !important;
}

.pplr_crop-modal .pplr-main {
  height: 100% !important;
}

.pplr_crop-modal .pplr-popup {
  padding: 0 !important;
  overflow: hidden;

  width: 92% !important;
  height: 92% !important;
  min-height: unset !important;
  max-width: 750px !important;

  margin: unset !important;

  border-radius: 10px;
}

.pplr_crop-modal .pplr_form {
  max-height: 100dvh;
  height: 100%;
  width: 100%;

  display: flex !important;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-direction: column !important;

  padding: 12px 0;
}
.pplr_crop-modal .pplr_ex_inner .pplr-btn {
  max-width: 100%;
  width: 100%;
}
@media (min-width: 768px) {
  .pplr_crop-modal .pplr-popup {
    border-radius: 10px;
  }
  .pplr_crop-modal .pplr_form {
    padding: 20px 48px;
  }
  .pplr_crop-modal .pplr-p-right {
    box-shadow: unset !important;
  }
}
.pplr_crop-modal .pplr-p-left {
  margin-top: auto !important;
}
.pplr_crop-modal .pplr-p-right {
  position: relative;
  max-height: 100% !important;
}
.pplr_crop-modal .pplr-p-right::before {
  content: 'Personalisiere Dein Geschenk.';
  font-size: 16px;
  font-weight: 600;
  color: #090a0c;
}
.pplr_crop-modal .pplr_popup_image,
.pplr_crop-modal #pplr_canvas,
.pplr_crop-modal .pplr_form > div:first-child {
  max-height: 250px !important;
}
@media (min-width: 768px) {
  .pplr_crop-modal .pplr_popup_image,
  .pplr_crop-modal #pplr_canvas,
  .pplr_crop-modal .pplr_form > div:first-child {
    max-height: 400px !important;
  }
}

.pplr_crop-modal #pplr_canvas {
  border-radius: 10px;
}

.pplr_crop-modal
  .pplr-diese-ansicht-dient-nur-zur-vorschau-dein-design-wird-persnlich-geprft-und-optimal-angepasst- {
  display: none !important;
}

.pplr_crop-modal #pplr_html {
  display: flex !important;
  flex-wrap: wrap;
  gap: 12px;

  padding: 0 12px !important;
}
.pplr_crop-modal #pplr_html::after {
  content: 'Diese Ansicht dient nur zur Vorschau. Dein Design wird persönlich geprüft und optimal angepasst.';
  font-size: 12px;
  color: #999;
}

.pplr_crop-modal #pplr_html .pplr-drop-item {
  font-size: 1.3rem !important;
  min-width: 100%;
  border-radius: 10px;
  padding: 8px 12px !important;
  transition: background-color 0.3s ease-in-out !important;
}

.pplr_crop-modal #pplr_html .pplr-drop-item.active {
  border-color: transparent !important;
  background: #fafaff !important;
  color: #090a0c !important;
  box-shadow: 0 2px 5px 0 rgba(9, 10, 12, 0.25) !important;
}
.pplr_crop-modal .pplr-oberer-text,
.pplr_crop-modal .pplr-mittlerer-text,
.pplr_crop-modal .pplr-berufsbezeichnung-oder-wunschtext,
.pplr_crop-modal .pplr-name-oder-wunschtext {
  flex: 0.5;
}

.pplr_crop-modal .pplr-p-right {
  flex-grow: 1;
  border-top: unset !important;
  box-shadow: inset 0px -8px 12px 0px rgba(9, 10, 12, 0.1);
  scrollbar-color: #04c transparent;
  border: unset !important;
}
.pplr_crop-modal .pplr-p-right > div {
  margin: 0 !important;
  max-height: unset !important;
}

.pplr-passendes--original-zippo-mit-persnlicher-gravur .pplrlabel {
  font-size: 14px !important;
  font-weight: 400 !important;
}
.pplr-passendes--original-zippo-mit-persnlicher-gravur .pplrcheckbox {
  vertical-align: middle;
  padding: 4px !important;
}

.pplr_crop-modal .dropdowncolor,
.pplr_crop-modal .pplr_text {
  border-radius: 10px;
  padding: 8px calc(12px + 35px) 8px 12px;
  border-color: #ddd !important;
  transition: all 0.3s ease-in-out !important;
  margin: 0 !important;
}
.pplr_crop-modal .dropdowncolor {
  font-size: 16px;
  font-weight: 400;
}
.pplr_crop-modal .pplr_select {
  padding: 8px 12px !important;
  margin: 0 !important;
  border-radius: 10px;
}

.pplr_crop-modal .pplr_text:hover,
.pplr_crop-modal .pplr_text:focus {
  outline: unset !important;
  border-color: rgba(9, 10, 12, 0.5) !important;
  box-shadow: 0 2px 5px 0 rgba(9, 10, 12, 0.25) !important;
}

label:has(+ .pplr_text:hover),
label:has(+ .pplr_text:focus) {
  text-decoration: underline !important;
  text-decoration-color: #ddd !important;
  text-underline-offset: 2px !important;
  text-decoration-thickness: 2px !important;
}

.pplr_crop-modal .pplr_ex_inner {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
}
.pplr_crop-modal .pplr_ex_inner b {
  display: flex;
  justify-content: center;
  width: 100%;
}
.pplr_crop-modal .pplr_ex_inner > .btn {
  float: unset !important;
}
/* reminder to re-add pplr_h_title instead of showing this price */
.pplr_crop-modal .pplr_ex_inner .money {
  display: none;

  font-size: 16px;
  font-weight: 500;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  background: #090a0c;
  color: #fafaff;
  padding: 8px 24px;
  margin: 0 !important;
  box-shadow: 0 2px 10px 0 rgba(9, 10, 12, 0.5);
  border-bottom-right-radius: 15px;
}
/* 
      .pplr_crop-modal .pplr_ex_inner::after {
        content: 'Diese Ansicht dient nur zur Vorschau. Dein Design wird persönlich geprüft und optimal angepasst.';
        font-size: 12px;
        color: #999;
      } */

.pplr_crop-modal .pplr-btn {
  z-index: 100000000 !important;
  border-radius: 10px !important;
  margin: 0 !important;

  width: 100%;

  border: 2px solid #090a0c;
}
.pplr_crop-modal .pplr-btn:hover,
.pplr_crop-modal .pplr-btn:focus {
  background: #090a0c !important;
  color: #f5ae2e !important;
}
.pplr_crop-modal .pplr-btn:active {
  background: #090a0c !important;
  color: #fafaff !important;
}

.pplr_crop-modal .pplr_h_title {
  display: none;

  /* position: relative;
      
        visibility: hidden;
        font-size: 16px;
        font-weight: 600;
      
        margin: 8px 12px;
        padding-bottom: 0 !important; */
}

/* .pplr_crop-modal .pplr_h_title::after {
        content: 'Personalisiere Dein Geschenk.';
        visibility: visible;
      
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
      
        color: #090a0c;
      } */

.pplr_crop-modal .pplr_ex_button {
  padding: 0 12px !important;
  margin-top: auto !important;
}

.pplr_crop-modal .pplrlabel:not(:has(.pplrcheckbox)) {
  display: none;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #090a0c;
  padding: 8px 0 !important;
}
.pplr_crop-modal .pplr-befestigungsset .pplrlabel {
  display: block !important;
  font-size: 16px !important;
}

.pplr_crop-modal .pplr-character-count {
  font-weight: 400;
  letter-spacing: 0px;
  text-align: unset !important;

  top: 50% !important;
  right: 8px !important;
  transform: translateY(-50%);
  float: unset !important;

  padding: 0 !important;
}

.pplr_crop-modal .fileupload {
  position: relative;
  color: transparent;
  padding: 12px 24px;
  border-radius: 10px;
}

.pplr_crop-modal .fileupload::before {
  content: 'Lade hier Dein Foto hoch';
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fafaff;
  color: #04c;
  padding: 12px 24px;
  border-radius: 10px;
  text-align: center;

  font-weight: 500;

  border: 1px solid #04c;

  transition: all 0.3s ease-in-out;
}

.pplr_crop-modal .fileupload:hover::before {
  color: #fafaff;
  background: #090a0c;
  color: #f5ae2e;
  border-color: #f5ae2e;
}

/* ? Keychain styling */
.pplr_crop-modal .img_thumb_big_circle {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.pplr_crop-modal .pplr-swatch-element {
  margin: 0 !important;
  width: 75px !important;
  height: unset !important;
  aspect-ratio: 1 / 1;
}
.pplr-btn {
  width: 100%;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
