.icon-grid {
  display: grid;
}
.icon-grid-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}
.icon-grid-item {
  padding: 20px;
}
.icon-grid-item__icon {
  margin-bottom: 15px;
  width: auto;
  height: auto;
  object-fit: contain;
}
.icon-grid-item__title,
.icon-grid-item__subtitle {
  margin: 0 0 10px;
}
